<section class="d-flex h-100 col-6">
  <div class="px-m position-relative bg-form">
    <div class="border-bottom border-dark" style="margin-bottom: 70px">
      <div class="d-flex align-items-center justify-content-between">
        <img class="back-arrow" src="assets/images/arrow.svg" alt="" />
        <h1>Experience</h1>
        <p class="text-size-20 m-0">2/3</p>
      </div>
    </div>

    <div
      class="d-flex flex-column"
      style="margin-top: 17px; margin-bottom: 13px"
    >
      <label for="position">Position</label>
      <input type="text" id="position" />
      <small>Min 2 symbols</small>
    </div>
    <div class="d-flex flex-column" style="margin-block: 21px">
      <label for="employer">Employer</label>
      <input type="text" id="employer" />
      <small>Min 2 symbols</small>
    </div>
    <div class="d-flex" style="gap: 56px; margin-bottom: 22px">
      <div class="d-flex flex-column">
        <label for="start_date">Start Date</label>
        <input style="width: 371px" type="date" id="start_date" />
      </div>
      <div class="d-flex flex-column">
        <label for="due_date">Due Date</label>
        <input style="width: 370px" type="date" id="due_date" />
      </div>
    </div>
    <div class="d-flex flex-column">
      <label for="description">Description</label>
      <textarea
        name="description"
        id="description"
        cols="30"
        (resize)="(false)"
        rows="4"
      ></textarea>
    </div>
    <button
      (click)="navigateToExperience()"
      class="btn btn-success navigate-experience"
    >
      Experience
    </button>
    <button
      (click)="navigateToEducation()"
      class="btn btn-success navigate-education"
    >
      Education
    </button>
  </div>
</section>
