:host{
    display: block;
    flex: 0 0 auto;
    min-height: 100vh;

}

.navigate-education{
    position: absolute; bottom: 65px; right: 150px
}

.navigate-experience{
    position: absolute; bottom: 65px; left: 150px
}