:host{
    display: block;
    flex: 0 0 auto;
    height: 100vh;
}
label{
    text-transform: capitalize;
    font-weight: 500;
    color: #000000;
    font-size: 16px;
}
textarea{
    resize: none;
}
input.ng-invalid.ng-touched{
    border:1px solid #EF5050;
}
input.ng-dirty.ng-valid{
    border:1px solid #98E37E;

}