<section class="d-flex h-100 col-6">
  <form
    (ngSubmit)="onSubmit()"
    [formGroup]="profileForm"
    class="px-m position-relative bg-form"
  >
    <div class="border-bottom border-dark" style="margin-bottom: 70px">
      <div class="d-flex align-items-center justify-content-between">
        <app-back></app-back>
        <h1>Personal Information</h1>
        <p class="text-size-20 m-0">1/3</p>
      </div>
    </div>
    <div class="d-flex" style="gap: 56px">
      <div class="d-flex position-relative flex-column">
        <img
          *ngIf="this.profileForm.controls['name'].valid"
          src="/assets/images/success.svg"
          class="position-absolute indicator"
          alt=""
        />
        <img
          *ngIf="
            this.profileForm.controls['name'].touched &&
            !this.profileForm.controls['name'].valid
          "
          src="/assets/images/warning.svg"
          class="position-absolute indicator"
          alt=""
        />

        <label for="name">Name</label>
        <input
          formControlName="name"
          style="width: 371px"
          type="text"
          id="name"
        />
        <small>Min. 2 digits, English symbols</small>
      </div>
      <div class="d-flex position-relative flex-column">
        <img
          *ngIf="this.profileForm.controls['surname'].valid"
          src="/assets/images/success.svg"
          class="position-absolute indicator"
          alt=""
        />
        <img
          *ngIf="this.profileForm.controls['surname'].valid"
          src="/assets/images/success.svg"
          class="position-absolute indicator"
          alt=""
        />
        <img
          *ngIf="
            this.profileForm.controls['surname'].touched &&
            !this.profileForm.controls['surname'].valid
          "
          src="/assets/images/warning.svg"
          class="position-absolute indicator"
          alt=""
        />
        <label for="surname">Surname</label>

        <input
          formControlName="surname"
          style="width: 370px"
          type="text"
          id="surname"
        />
        <small>Min. 2 digits, English symbols</small>
      </div>
    </div>
    <div
      class="d-flex align-items-center"
      style="gap: 19px; margin-block: 46px"
    >
      <label>Your Image</label>
      <label
        for="image"
        style="width: 107px; height: 27px; padding: 2px"
        class="btn btn-info"
        >Upload</label
      >
      <input
        class="d-none"
        type="file"
        id="image"
        (change)="onImageSelected($event)"
        accept="image/*"
      />
    </div>
    <div class="d-flex flex-column">
      <label for="about_me">About me</label>
      <textarea
        formControlName="about_me"
        name="about_me"
        id="about_me"
        cols="30"
        (resize)="(false)"
        rows="4"
      ></textarea>
    </div>
    <div
      class="d-flex position-relative flex-column"
      style="margin-top: 17px; margin-bottom: 13px"
    >
      <img
        *ngIf="this.profileForm.controls['email'].valid"
        src="/assets/images/success.svg"
        class="position-absolute indicator"
        alt=""
      />
      <img
        *ngIf="
          this.profileForm.controls['email'].touched &&
          !this.profileForm.controls['email'].valid
        "
        src="/assets/images/warning.svg"
        class="position-absolute indicator"
        alt=""
      />
      <label for="email">Email</label>
      <input formControlName="email" type="text" id="email" />
      <small>Must end with @redberry.ge</small>
    </div>
    <div class="d-flex position-relative flex-column" style="margin-top: 21px">
      <img
        *ngIf="this.profileForm.controls['phone_number'].valid"
        src="/assets/images/success.svg"
        class="position-absolute indicator"
        alt=""
      />
      <img
        *ngIf="
          this.profileForm.controls['phone_number'].touched &&
          !this.profileForm.controls['phone_number'].valid
        "
        src="/assets/images/warning.svg"
        class="position-absolute indicator"
        alt=""
      />
      <label for="phone_number">phone_number</label>
      <input
        formControlName="phone_number"
        type="text"
        placeholder="+995 571 777 401"
        id="phone_number"
      />
      <small>Must meet the Georgian mobile number format</small>
    </div>
    <button
      type="submit"
      [disabled]="!profileForm.valid"
      class="btn btn-success navigate-button"
    >
      Experience
    </button>
  </form>
</section>
