:host{
    display: block;
    background-color: #F9F9F9;
    height: 100vh;
    padding-inline: 150px;
}
label{
    text-transform: capitalize;
    font-weight: 500;
    color: #000000;
    font-size: 16px;
}
textarea{
    resize: none;
}
.btn{

}