@import 'material-icons/iconfont/material-icons.css';
@import '/node_modules/bootstrap/scss/bootstrap.scss';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
$dark: #1A1A1A;

.router-outlet{
    background-color: red;
}
.px-6{
    padding-inline: 24px;
}
.small{
    color: #2E2E2E;
    font-family: Helvetica Neue;
font-size: 14px;
font-weight: 300;
line-height: 21px;
letter-spacing: 0em;
text-align: left;
}
.btn-success{
    background-color: #6B40E3;
    width: 151px;
    height: 48px;
    padding: 0;
    color: white;
    border: #6B40E3;
    &:hover{
        background-color: #6B40E3;
    }
    &:active{
        background-color: #6B40E3;
    }
    &:visited{
        background-color: #6B40E3;
    }
}
.back-arrow{
    cursor: pointer;
    position: absolute;
    left: 48px;
    top: 45px;
}
.px-m{
    padding-inline: 150px;

}
.navigate-button{
position: absolute; bottom: 65px; right: 150px
}
.bg-form{
    background-color: #F9F9F9;
    padding-top: 47px;
}
.text-size-20{
    font-size: 20px;
    font-weight: 400;
}
h1{
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 700;
    margin: 0;
}
.btn-info{
    background-color: #0E80BF;
    color: white !important; 
    font-size: 14px !important; 
    font-weight: 400 !important; 
    border: #0E80BF;
    &:hover{
        background-color: #0E80BF;
    }
    &:active{
        background-color: #0E80BF;
    }
    &:visited{
        background-color: #0E80BF;
    }
}
.btn{
    border-radius: 4px !important;
}
input, textarea{
    border:1px solid #BCBCBC;
    outline: none;
}
input{
    height: 48px;
}

input.ng-invalid.ng-touched{
    border:1px solid #EF5050;
}
input.ng-dirty.ng-valid{
    border:1px solid #98E37E;

}
.bg-primary{
   background-color:  #62A1EB;
}
textarea.ng-invalid.ng-touched{
    border:1px solid #EF5050;
}
textarea.ng-dirty.ng-valid{
    border:1px solid #98E37E;
}